@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

 /* reseter */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SMARTPHONE VERSION and FALLBACK for browsers that don't support grid*/

h1, h2, h4, p, a, li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: 95%;
  margin: 0 auto;
}

h1{
  font-size: 2.5em;
 
  
}

h2{
  font-size: 1.2rem;
  font-weight: 800;
  
}
h3{
  font-size: 2.8rem;
}
h4, p{
  font-size: 1.2rem;
  
}
/*---- header -----*/
header{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
  /* background-color: black;
  color: white; */
}
.name{
  width: 100%;
}
.education{
  margin-top: .5rem;
  padding: .5rem 1.3rem .5rem 3.8rem;
  line-height: 2;
  /* /* background-color: black; */
  
}
/* ----content------- */

.logo{
  width: 40px;
  margin-right: 1rem;
  vertical-align: middle;
  

}

.examples{
  margin-top: 35rem;

}
article{
  background-color: #fff;  
}

img{
  width: 100%;
  height: 100%;
  
}
figure{
  position: relative;
}
figcaption {
  position: absolute;
  display: block;
  width: 100%;
  text-align: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

}
figcaption h2{
  font-weight: 800;
}
figure img{
  filter: brightness(.5);
}

.content-element{
  height: 15rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  
}
.no-margin{
  margin-bottom: 0;
}

.subtitle{
 width: 100%;
 margin: 0 auto;
 
}
.subtitle h2{
  display: inline-block;
  margin-top: 2rem;


}
/* -----footer----------- */

.main-footer{
  width: 100%;
  margin: 0 auto;
  padding-top: 1.4rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;

}

.fab{
  margin-left: .5rem;
}

/* END SMARTPHONE / FALLBACK */





